* {
    font-family: "Open Sans";
  }
  /* span {
    border: 1px dashed #ccc;
    padding: 5px;
  }
  input {
    border: none;
    font-family: inherit;
    outline: none;
    padding: 5px;
    border: 1px dashed #000;
  } */
  